@media (max-width: 768px) {
    .header{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .logo{
        width: 100%;
        height: 130px;
    }
    .client_data{
        margin-top: 10px;
        font-size: 1em;
        font-family: Roboto-Medium;
        padding: 0;
        text-align: center;
    }
    .employee {
        font-size: 1em;
        text-align: center;
    }
    .nav{
        display: grid;
        text-align: center;
        grid-template-columns: 23% 50%;
        font-size: 2em;
        font-family: Roboto-Medium;
    }

    .carcass{
        margin-left: 0; /* НЕ ТРОГАЙТЕ ЭТО УЖЕ!!! */
    }
    .adress{
        display: flex;
        flex-direction: column;
        padding: 0;
        grid-gap: 20px;
    }
    main{
        margin-left: 0;
    }
    .table{
        display: flex;
        /*grid-template-columns: 50% 50%;*/
        padding-top: 10px;
        flex-direction: column
    }
    .plus{
        height: 35px;
        display: grid;
        grid-template-columns: 10% 90% ;
    }
    .table2{
        display: grid;
        grid-template-columns: 30% 30% 30% ;
        grid-gap: 20px;
        text-align: center;
    }
    .plus1{
        cursor: pointer;
        width: 30px;
        height: 30px;
        font-size: 25px;
        margin-left: 0;
        float: right;
    }
    .plus_text {
        padding-left: 10px;
    }
    /* Для страницы "Клиент" */

    /* Главный блок расчетов с кнопками */
    .client{
        margin-top: 0;
        width: 100%;
        min-height: 300px;
        display: grid;
        grid-template-columns: 100%;

    }

    /* Блок вывода расчетов */
    .calculation{
        display: flex;
        flex-direction: column;
    }

    /* Для страницы Отчет */
    .result-buttons{
       
        display: flex;
        flex-direction: column-reverse;
        font-family: Roboto-Regular;
    
    }

    /* ____________________________________ */
    .edit img{
        margin-top: 10px;
        margin-left: 0;
        margin-right: 20px;
        width: 35px;
        height: 40px;
    }
    .plus{
        margin-top: 10px;
        height: 35px;
        display: flex;
        
    }
    /* Блок кнопок */
    .buttons{
        /*display: grid;*/
        /*grid-template-columns: 10% 20%;*/
    }
    .copy{

    }
    .copy img{
        margin-top: 15px;
        margin-left: 10px;
        width: 35px;
        height: 40px;

    }
    .delete{

    }
    .delete img{
        width: 35px;
        height: 45px;
        margin-top: 10px;
        margin-left: 15px;
    }
    /* Контейнеры */
    .container{
        width: 100%;
        height: 50px;
        margin-top: 10px;
        margin-right: 10px;
        text-align: center;
        font-family: Roboto-Medium;
        font-size: 18px;
        display: table;

    }
    hr {
       
        height: 1px; /* Толщина линии */
    }
    .line{
        margin-top: 20px;
    }
    .card {
        margin-top: 10px;
    }

    .create-customer-form input[type='submit'], .create-customer-form input[type='button'] {
        width: 100%;
    }
    /* Модальное окно выбора элемента */
    .element{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        width: 60%;
        height: 100%;
        color: #2a622a;
        background-color: #ffc945;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        margin-bottom: 20px;
        text-align: center;
    }
    /* Страница клиента */
    /* Кнопка "Создать расчет" */
    .create-calculation-button input{
        width: 100%;
        background-color: #ffc945;
        color: #000000;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

}
@media (min-width: 768px) {
    .header{
        padding: 10px;
        display: grid;
        grid-template-columns: 35% 30% 30% 5%;

    }
    .nav{
        display: grid;
        grid-template-columns: 10% 80% 10%;
        font-size: 2em;
        font-family: Roboto-Medium;
    }
    .nav p{
        text-align: center;
    }
    .adress{
        display: grid;
        grid-template-columns: 40% 25% 25%;
        padding: 0;
        grid-gap: 20px;
    }
    .table{
        display: grid;
        grid-template-columns: 30% 20% 40%;
        padding-top: 10px;
    }
    .plus{
        height: 35px;
        display: grid;
        grid-template-columns: 5% 50% ;
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        flex: 1 0 20%;
        margin: 5px;
    }
    /* Модальное окно выбора элемента */
    .element{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        width: 60%;
        height: 100%;
        color: #2a622a;
        background-color: #ffc945;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        margin-bottom: 20px;
        text-align: center;
    }
    /* Страница клиента */
    /* Кнопка "Создать расчет" */
    .create-calculation-button input{
        width: 12%;
        background-color: #ffc945;
        color: #000000;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    /* Для страницы "Клиент" */

    /* Главный блок расчетов */
    .client{

        width: 100%;
        height: 100px;
        display: grid;
        grid-template-columns: 70% 30%;

    }
    /* Блок кнопок */
    .buttons{
        display: grid;
        grid-template-columns: 30% 30%;
    }
}
@media (min-width: 1000px) {
    /* * {
    all: unset;
    display: revert;
}

*, *::before, *::after{
    box-sizing: border-box;
}
*/

    body {
        min-height: 1693px;
        font-family: Roboto-Regular;
    }
    select {
        width: 300px;
        height: 37px;
    }
    .outBlock {
        width: 290px;
        height: 26px;
    }


    .logo{
        width: 100%;
        height: 130px;
    }
    .logo > p{
        width: 100%;
        font-size: 2em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        padding-top: 20px;
    }
    .header{
        padding: 10px;
        display: grid;
        grid-template-columns: 30% 35% 30% 5%;

    }
    .nav{
        display: grid;
        grid-template-columns: 10% 80% 10%;
        font-size: 2em;
        font-family: Roboto-Medium;
    }
    .nav p{
        text-align: center;
    }
    .client_data{
        font-size: 1em;
        padding-left: 50px;
        font-family: Roboto-Medium;
    }
    .employee{
        font-size: 1em;
        text-align: right;
    }
    .exit{
        margin-left: auto;
        margin-right: 0;
        width: 20px;
        height: 20px;
        background-image: url("@/assets/img/x.png");
        background-size: 100%;
    }

    .back{
        margin-left: 10px;
        margin-top: 10px;
        width: 40px;
        height: 40px;
        background-image: url("@/assets/img/back.png");
        background-size: 100%;
    }
    .carcass{
        margin: 0; /* НЕ ТРОГАЙТЕ ЭТО УЖЕ!!! */
    }
    main{
        margin-left: 40px;
    }
    .adress{
        display: grid;
        grid-template-columns: 35% 13% 13%;
        padding: 0;
        grid-gap: 20px;
    }
    .adress > input[type='button']{
        height: 30px;
    }
    .adress > input[type='text']{
        padding-left: 20px;
    }

    select{
        height: 30px;
        border: 0;
        /*background-color: rgba(0, 0, 0, 0.226);*/
    }
    .table{
        display: grid;
        grid-template-columns: 30% 10% 60%;
        padding-top: 10px;
    }
    .plus{
        height: 35px;
        display: flex;
    }
    .plus_text{
        margin-left: 20px;
        padding-top: 10px;
    }
    .circle{
        margin-top: 3px;
        width: 30px;
        height: 30px;
        text-align: center;
        font-size: 25px;
    }
    .table2{
        display: grid;
        grid-template-columns: 10% 10% 10% ;
        grid-gap: 20px;
        text-align: center;
    }
    .plus1{
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin-left: 30.5%;
        font-size: 25px;
    }

    .card-container {
        margin-right: 40px;
    }
    /* Модальное окно выбора элемента */

    .popup-elements{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .popup-content h2{
        text-align: center;
    }

    .element{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        width: 50%;
        height: 100%;
        color: #2a622a;
        background-color: #ffc945;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        margin-bottom: 20px;
        text-align: center;
    }
    .element img{
        width: 70%;
        height: 70%;
        margin-left: 10px;
        margin-top: 8px;
    }
    .element h3{
        margin: 0;
        margin-top: 7%;
    }
    /* Страница клиента */
    /* Кнопка "Создать расчет" */
    .create-calculation-button input{
        width: 12%;
        background-color: #ffc945;
        color: #000000;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    /* Для страницы "Клиент" */

    /* Главный блок расчетов */
    .client{

        width: 100%;
        height: 80px;
        display: grid;
        grid-template-columns: 50% 50%;

    }
    /* Блок кнопок */
    .buttons{
        display: grid;
        grid-template-columns: 15% 20%;
    }

    @font-face {
        font-family: Roboto-Regular;
        src: url("@/assets/fonts/Roboto/Roboto-Regular.ttf");
    }
    @font-face {
        font-family: Roboto-Bold;
        src: url("@/assets/fonts/Roboto/Roboto-Bold.ttf");
    }
    @font-face {
        font-family: Roboto-Medium;
        src: url("@/assets/fonts/Roboto/Roboto-Medium.ttf");
    }
}
@media only screen and (max-width: 600px) {
    .popup-content {
        width: 90%;
        padding: 10px;
    }
}