/* * {
    all: unset; 
    display: revert;
   }
   
   *, *::before, *::after{ 
      box-sizing: border-box;
   }
*/

body {
    /*min-height: 1693px;*/
    background-color: #f6f6f5;
    font-family: Roboto-Regular;
}

.logo{
    width: 100%;
    height: 130px;
}
.logo > p{
    width: 100%;
    font-size: 2em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.53);
}
.header{
    display: grid;
    grid-template-columns: 23% 37% 35% 5%;
    border: 1px solid #c3d0ce;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-bottom: 1.5px solid darkgreen;
}

.client_data{
    font-size: 1em;
    color: #004600;
    padding-left: 50px;
    /*color: #3d4b58;*/
    font-family: Roboto-Medium;
}
.employee{
    color: #004600;
    font-size: 1em;
    text-align: right;
    /*color: rgba(0, 0, 0, 0.53);*/
}
.exit{
    margin-left: auto;
    margin-right: 0;
    width: 20px;
    height: 20px;
    background-image: url("img/x.png");
    background-size: 100%;
}
.nav{

    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 2em;
    font-family: Roboto-Medium;
}
.back{
    margin-left: 10px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-image: url("img/back.png");
    background-size: 100%;
}
.carcass{
    color: #004600;
}
main{
    margin-left: 40px;
}
.adress{
    display: grid;
    grid-template-columns: 35% 13% 10%;
    padding: 0;
    grid-gap: 20px;
}
.adress > input[type='button']{
    height: 30px;
}
.adress > input[type='text']{
    padding-left: 20px;
    outline: none;
    background-color: white;
    color: darkgreen;
    border: 1.5px solid #2a622a;
}
.adress input[type='text']::placeholder {
    color: #8a8f89;
}
input {
    height: 30px; 
    border: 0;
    font-weight: bold;
    padding-left: 5px;
}

.floor {
    background-color: #edf1ec;
    padding: 10px;
}

.floor input{
    outline: none;
    color: darkgreen;
    background-color: white;
    border: 1.5px solid darkgreen;
    padding-left: 5px;
}

h3 {
    color: #0d4d0d;
}

.floorsInput input[type="number"] {
    color: darkgreen;
    border: 1.5px solid #ffc945;
    outline: none;
    padding-left: 5px;
}


.floorsInput input[type="text"]:hover, input[type="number"]:hover {
    color: darkgreen;
    border: 1.5px solid darkgreen;
    padding-left: 5px;
}

.formItemHeader {
    font-weight: bold;
    color: darkgreen;
}

.floor select{
    outline: none;
    color: darkgreen;
    font-weight: bold;
    background-color: white;
    border: 1.5px solid darkgreen;

}
input[type='button'], input[type='reset']{
    border-radius:7px;
    /*box-shadow: 0 1px 2px #5e5e5e;*/
}
input[type='button']{
    color: #f1f1f1;
    background-color: #597359;
}
input[type='reset'], input[type='submit']{
    color: #2a622a;
    background-color: #ffc945;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
select{
    height: 30px; 
    border: 0;
    background-color: rgba(0, 0, 0, 0.226);
}
.table{
    display: grid;
    grid-template-columns: 15% 10% 75%;
    padding-top: 10px;
}
.plus{
    height: 35px;
    display: grid;
    grid-template-columns: 3% 30% ;
}
.plus_text{
    padding-top: 5px;
    font-weight: bold;
    color: #135213;
}
.circle{
    width: 30px;
    height: 30px;
    background-color: #ffc945;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    color: #597359;
    border: 1.5px solid #ffc945;
    box-shadow: rgb(19, 82, 19) 0 1px 1px 0px, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    /*background-color: #597359;*/
    border-radius: 50%;
    text-align: center;
    padding-bottom: 2px;


}
.table2{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 10% 10% 10% ;
    grid-gap: 20px;
    text-align: center;
}
.plus1{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 31%;
    color: #597359;
    font-size: 25px;
    border: 1.5px solid #597359;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /*background-color: #597359;*/
    border-radius: 50%;
    text-align: center;
    padding-bottom: 2px;
}
input[type='submit']{
    width: 200px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30%;
    border-radius:7px;
    box-shadow: 0 1px 2px #5e5e5e;
}

@font-face {
    font-family: Roboto-Regular;
    src: url("@/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto-Bold;
    src: url("@/fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto-Medium;
    src: url("@/fonts/Roboto/Roboto-Medium.ttf");
}