/* * {
    all: unset; 
    display: revert;
   }
   
   *, *::before, *::after{ 
      box-sizing: border-box;
   }
*/
main{
    font-family: Roboto-Regular;
}
body {
    background-color: #f6f6f5;
    font-family: Roboto-Regular, serif;
}
h3 {
    font-family: Roboto-Regular;
}
.logo{
    width: 100%;
    height: 130px;
    cursor: pointer;
}
.logo > p{
    width: 100%;
    font-size: 2em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.53);
}
.header{
    display: grid;
    grid-template-columns: 23% 37% 35% 5%;
    border: 1px solid #c3d0ce;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-bottom: 1.5px solid darkgreen;
}

.client_data{
    font-size: 1em;
    color: #004600;
    padding-left: 50px;
    /*color: #3d4b58;*/
    font-family: Roboto-Medium, serif;
    cursor: pointer;
}
.employee{
    color: #004600;
    font-size: 1em;
    text-align: right;
    /*color: rgba(0, 0, 0, 0.53);*/
}
.exit{
    margin-left: auto;
    margin-right: 0;
    width: 20px;
    height: 20px;
    background-image: url("@/assets/img/x.png");
    background-size: 100%;
    cursor: pointer;
}

.nav{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    font-size: 2em;
    font-family: Roboto-Medium, serif;
}
.back{
    margin-left: 10px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-image: url("@/assets/img/back.png");
    background-size: 100%;
    cursor: pointer;
}
.carcass{
    color: #004600;
}
main{
    margin-left: 40px;
}
.adress{
    display: grid;
    grid-template-columns: 35% 13% 10%;
    padding: 0;
    grid-gap: 20px;
}
.adress > input[type='button']{
    height: 30px;
    cursor: pointer;
}
.adress > input[type='text']{
    padding-left: 20px;
    outline: none;
    background-color: white;
    color: darkgreen;
    border: 2px solid #2a622a;
}
.adress input[type='text']::placeholder {
    color: #8a8f89;
}
input {
    margin-top: 7px;
    height: 30px;
    border: 0;
    font-weight: bold;
    padding-left: 5px;
}



.floor {
    background-color: #edf1ec;
    padding: 10px;
}

.floor input{
    outline: none;
    color: darkgreen;
    background-color: white;
    border: 2px solid darkgreen;
    padding-left: 5px;
}

h3 {
    color: #0d4d0d;
}

.floorsInput input[type="number"] {
    color: darkgreen;
    border: 2px solid #f3a809;
    outline: none;
    padding-left: 5px;
}


.floorsInput input[type="text"]:hover, input[type="number"]:hover {
    color: darkgreen;
    border: 2px solid darkgreen;
    padding-left: 5px;
}

.formItemHeader {
    font-weight: bold;
    color: darkgreen;
}

.floor select{
    outline: none;
    color: darkgreen;
    font-weight: bold;
    background-color: white;
    border: 2px solid darkgreen;

}
input[type='button'], input[type='reset'], input[type='submit']{
    border-radius:7px;
}
input[type='button']{
    color: #f1f1f1;
    background-color: #597359;
}
input[type='reset'], input[type='submit'] {
    color: #2a622a;
    background-color: #ffc945;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
select{
    margin-top: 7px;
    height: 37.5px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.226);
}
.table{
    display: grid;
    grid-template-columns: 15% 10% 75%;
    padding-top: 10px;
}
.plus{
    height: 35px;
    display: flex;
    
}
.plus_text{
    margin-left: 20px;
    padding-top: 5px;
    font-weight: bold;
    color: #135213;

}
.circle {
    width: 30px;
    height: 30px;
    background-color: #ffc945;
    text-align: center;
    font-size: 25px;
    color: #597359;
    border: 1.5px solid #ffc945;
    box-shadow: rgb(19, 82, 19) 0 1px 1px 0px, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    border-radius: 50%;
    padding-bottom: 2px;


}
.table2 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 10% 10% 10% ;
    grid-gap: 20px;
    text-align: center;
}
.plus1 {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 31%;
    color: #597359;
    font-size: 25px;
    border: 1.5px solid #597359;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /*background-color: #597359;*/
    border-radius: 50%;
    text-align: center;
    padding-bottom: 2px;
}

input[type='submit']{
    width: 200px;
    height: 30px;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 7px;
    box-shadow: 0 1px 2px #5e5e5e;
}

/* Для страницы "Клиент" */

/* Главный блок расчетов */
.client{

    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 50% 50%;


}
.client-bg{
    background-color: #edf1ec;
}

/* Блок вывода расчетов */
.calculation{
    display: flex;
}

/* Блок кнопок */
.buttons{
    display: grid;
    grid-template-columns: 15% 20%;
}

.copy img{
    margin-top: 20px;
    margin-left: 10px;
    width: 35px;
    height: 40px;

}

.delete img{
    width: 35px;
    height: 45px;
    margin-top: 15px;
}

/* Контейнеры */
.container{
    width: 25%;
    height: 55px;

    box-shadow: 0 1px 2px #5e5e5e;
    background-color: #597359;
    color: #f0f0f0;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    font-family: Roboto-Medium;
    font-size: 18px;
    display: table;
}
.container div{
    display: table-cell;
    vertical-align: middle;
}

/* Для страницы Клиенты */

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1 0 20%; /* Определяем ширину карточки для 4 в ширину */
    margin: 5px;
    min-height: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    border-radius: 5px;
    text-align: center;
    border:1px solid skyblue;
    cursor: pointer;
    /* изменить на адаптацию под экран */
    min-width: 350px;
}

.popup {
    /*display: none;*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.popup-content {
    font-family: Roboto-Regular;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* Модальное окно выбора элемента */

.popup-elements{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup-content h2{
    text-align: center;
}

.element{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 40%;
    height: 100%;
    color: #2a622a;
    background-color: #ffc945;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: 20px;
    text-align: center;
}
.element img{
    width: 70%;
    /*height: 70%;*/
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.element h3{
    margin: 0;
    margin-top: 7%;
}

/*   */
label {
    font-weight: bold;
}

.save {
    width: 140px;
    cursor: pointer;
    float:right;
    padding: 5px;
    border-radius: 6px;
    font-family: Roboto-Bold;
    font-weight: bold;
    font-size: 12pt;
}
.close {
    float: right;
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: bold;
}

.error-message {
    color: #cc0000;
    padding: 9px;
    border-radius: 5px;
    font-size: 12pt;
    justify-content: center;
}

.create-customer-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.create-customer-form > input[type='text'], input[type='email']{
    padding-left: 20px;
    outline: none;
    background-color: white;
    color: darkgreen;
    border: 2px solid #2a622a;
}
.create-customer-form > input[type='text']::placeholder, input[type='email']::placeholder {
    color: #8a8f89;
}

.create-customer-form input[type='submit'], .create-customer-form input[type='button'] {
    margin-top: 15px;
    width: 200px;
}

.create-customer-form > label {
    margin-top: 7px;
    color: #464646;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Страница клиента */
/* Кнопка "Создать расчет" */
.create-calculation-button input{
    width: 12%;
    background-color: #ffc945;
    color: #000000;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.result{
    width: 1000px;
    height: 300px;
    background-color: #8a8f89;
}
.add-result{
    
}
.result-buttons{
    
    display: inline-flex;
    font-family: Roboto-Regular;

}
.edit img{
    margin-left: 10px;
    margin-right: 20px;
    width: 35px;
    height: 40px;
}
input:invalid:not(:placeholder-shown) {
    border: 2px solid red;
}
.calculation-data {
    padding: 10px;
    border: 1px solid green;
    border-radius: 4px;
    margin: 10px;
    background-color: #edf1ec;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.calc-title {
    background-color: #597359;
    color: white;
    padding: 10px;
    border-radius: 4px;
}
.calc-info {
    background-color: white;
    border: 1px solid darkgreen;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.calc-info-block {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
}
.calc-info-inner {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.calc-info-block .info-adress {
    flex-direction: row;
}

.calc-info-title {
    color: #597359;
    margin-bottom: 5px;
}

.calc-buttons {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.copy-button, .delete-button, .view-button {
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 5px;
    text-align: center;
}
.copy-button:hover, .delete-button:hover, .view-button:hover {
    cursor: pointer;
}
.copy-button:hover {
    background-color: #3e543e;
}
.delete-button:hover {
    background-color: #b1c0b1;
}
.view-button:hover, .create-calculation-button input:hover {
    background-color: #eeb423;
}
.copy-button {
    color: #f1f1f1;
    background-color: #597359;
    border-radius: 3px;
    font-size: 14px;
    border: 2px solid #597359;
}

.delete-button {
    border-radius: 3px;
    font-size: 14px;
    border: 1px solid #304130;
}

.view-button {
    border-radius: 3px;
    font-size: 14px;
    color: #455e45;
    background-color: #ffc945;
    border: 1px solid #e7b12d;
}

.calc-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
@font-face {
    font-family: Roboto-Regular;
    src: url("@/assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto-Bold;
    src: url("@/assets/fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto-Medium;
    src: url("@/assets/fonts/Roboto/Roboto-Medium.ttf");
}