@media (max-width: 768px) {
    .header{
        padding: 10px;
        display: flex;
        flex-direction: column;
        
    }
    .logo{
        width: 100%;
        height: 130px;
        
    }
    .client_data{
        font-size: 1em;
        font-family: Roboto-Medium;
        padding: 0;
    }
    .employee {
        font-size: 1em;
        text-align: left;
        color: rgba(0, 0, 0, 0.53);
    }
    .nav{
        display: grid;
        grid-template-columns: 10% 80% 10%;
        font-size: 2em;
        font-family: Roboto-Medium;
    }
    .carcass{
        text-align: center;
    }
    .adress{
        display: flex;
        flex-direction: column;
        padding: 0;
        grid-gap: 20px;
    }
    main{
        margin-left: 0;
    }
    .table{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-top: 10px;
    }
    .plus{
        height: 35px;
        display: grid;
        grid-template-columns: 10% 90% ;
    }
    .table2{
        display: grid;
        grid-template-columns: 30% 30% 30% ;
        grid-gap: 20px;
        text-align: center;
    }
    .plus1{
        cursor: pointer;
        width: 30px;
        height: 30px;
        font-size: 25px;
        margin-left: 0;
        float: right;
    }
    input[type='submit']{
        width: 200px;
        height: 40px;
        margin-top: 20px;
        
        border-radius: 7px;
        background-color: rgba(0, 0, 0, 0.38);
    }
    .submit{
        margin: 0;
        display: flex;
        justify-content: center;
    }
    /* Для страницы "Клиент" */

    /* Главный блок расчетов */
    .client{
        margin-top: 0;
        width: 100%;
        min-height: 150px;
        display: grid;
        grid-template-columns: 100%;

    }

    /* Блок вывода расчетов */
    .calculation{
        display: flex;
        flex-direction: column;
    }

    /* Блок кнопок */
    .buttons{
        display: grid;
        grid-template-columns: 10% 20%;
    }
    .copy{

    }
    .copy img{
        margin-top: 15px;
        margin-left: 10px;
        width: 35px;
        height: 40px;
        
    }
    .delete{
    
    }
    .delete img{
        width: 35px;
        height: 45px;
        margin-top: 10px;
        margin-left: 15px;
    }
    /* Контейнеры */
    .container{
        width: 100%;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.38);
        margin-top: 10px;
        margin-right: 10px;
        text-align: center;
        font-family: Roboto-Medium;
        font-size: 18px;
        display: table;
    }
    hr {
        border: none; /* Убираем границу */
        background-color: rgba(0, 0, 0, 0.38); /* Цвет линии */
        color: rgba(0, 0, 0, 0.38); /* Цвет линии для IE6-7 */
        height: 3px; /* Толщина линии */
       }
    .line{
        margin-top: 20px;
    }
}








@media (min-width: 768px) {
    .header{
        padding: 10px;
        display: grid;
        grid-template-columns: 35% 30% 30% 5%;
        
    }
    .nav{
        display: grid;
        grid-template-columns: 10% 80% 10%;
        font-size: 2em;
        font-family: Roboto-Medium;
    }
    .carcass{
        text-align: center;
    }
    .adress{
        display: grid;
        grid-template-columns: 40% 25% 25%;
        padding: 0;
        grid-gap: 20px;
    }
    .table{
        display: grid;
        grid-template-columns: 30% 20% 40%;
        padding-top: 10px;
    }
    .plus{
        height: 35px;
        display: grid;
        grid-template-columns: 5% 50% ;
    }
    /* Для страницы "Клиент" */

    /* Главный блок расчетов */
    .client{
        margin-top: 0;
        width: 100%;
        min-height: 200px;
        display: grid;
        grid-template-columns: 70% 30%;

    }

    /* Блок вывода расчетов */
    .calculation{
        display: flex;
    }

    /* Блок кнопок */
    .buttons{
        display: grid;
        grid-template-columns: 15% 20%;
    }
    .copy{

    }
    .copy img{
        margin-top: 20px;
        margin-left: 10px;
        width: 35px;
        height: 40px;
        
    }
    .delete{
    
    }
    .delete img{
        width: 35px;
        height: 45px;
        margin-top: 15px;
        margin-left: 20px;
    }
    hr {
        border: none; /* Убираем границу */
        background-color: rgba(0, 0, 0, 0.38); /* Цвет линии */
        color: rgba(0, 0, 0, 0.38); /* Цвет линии для IE6-7 */
        height: 0; /* Толщина линии */
       }
    .line{
        margin: 0;
    }
}






@media (min-width: 1000px) {
        /* * {
        all: unset; 
        display: revert;
    }
    
    *, *::before, *::after{ 
        box-sizing: border-box;
    }
    */

    body {
        min-height: 1693px;
        background-color: #e5e5e5;
        font-family: Roboto-Regular;
    }

    .logo{
        width: 100%;
        height: 130px;
    }
    .logo > p{
        width: 100%;
        font-size: 2em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        padding-top: 20px;
        color: rgba(0, 0, 0, 0.53);
    }
    .header{
        padding: 10px;
        display: grid;
        grid-template-columns: 30% 35% 30% 5%;
        
    }

    .client_data{
        font-size: 1em;
        padding-left: 50px;
        font-family: Roboto-Medium;
    }
    .employee{
        font-size: 1em;
        text-align: right;
        color: rgba(0, 0, 0, 0.53);
    }
    .exit{
        margin-left: auto;
        margin-right: 0;
        width: 20px;
        height: 20px;
        background-image: url("img/x.png");
        background-size: 100%;
    }
    .nav{
    
        display: grid;
        grid-template-columns: 10% 80% 10%;
        font-size: 2em;
        font-family: Roboto-Medium;
    }
    .back{
        margin-left: 10px;
        margin-top: 10px;
        width: 40px;
        height: 40px;
        background-image: url("img/back.png");
        background-size: 100%;
    }
    .carcass{
        text-align: center;
    }
    main{
        margin-left: 40px;
    }
    .adress{
        display: grid;
        grid-template-columns: 40% 13% 13%;
        padding: 0;
        grid-gap: 20px;
    }
    .adress > input[type='button']{
        height: 30px;
    }
    .adress > input[type='text']{
        padding-left: 20px;
    }
    input{
        height: 30px; 
        border: 0;
        background-color: rgba(0, 0, 0, 0.226);
        font-weight: bold;
    }
    input[type='button'],input[type='reset']{
        border-radius:7px;
        background-color: rgba(0, 0, 0, 0.38);
    }
    select{
        height: 30px; 
        border: 0;
        background-color: rgba(0, 0, 0, 0.226);
    }
    .table{
        display: grid;
        grid-template-columns: 30% 10% 60%;
        padding-top: 10px;
    }
    .plus{
        height: 35px;
        display: grid;
        grid-template-columns: 5% 40% ;
    }
    .plus_text{
        padding-top: 5px;
    }
    .circle{
        width: 30px;
        height: 30px;
        background-color:  rgba(0, 0, 0, 0.38);
        border-radius: 20px;
        text-align: center;
        font-size: 25px;
    }
    .table2{
        display: grid;
        grid-template-columns: 10% 10% 10% ;
        grid-gap: 20px;
        text-align: center;
    }
    .plus1{
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin-left: 31%;
        font-size: 25px;
    }
    input[type='submit']{
        width: 190px;
        height: 40px;
        margin-top: 20px;
        border-radius: 7px;
        background-color: rgba(0, 0, 0, 0.38);
    }
    .submit{
        margin-left: 30%;
    }
    /* Для страницы "Клиент" */

    /* Главный блок расчетов */
    .client{
        margin-top: 0;
        width: 100%;
        min-height: 80px;
        display: grid;
        grid-template-columns: 50% 50%;

    }

    /* Блок вывода расчетов */
    .calculation{
        display: flex;
    }

    /* Блок кнопок */
    .buttons{
        display: grid;
        grid-template-columns: 10% 20%;
    }
    .copy{

    }
    .copy img{
        margin-top: 20px;
        margin-left: 10px;
        width: 35px;
        height: 40px;
        
    }
    .delete{
    
    }
    .delete img{
        width: 35px;
        height: 45px;
        margin-top: 15px;
        margin-left: 0;
    }
    .line{
        margin: 0;
    }
    @font-face {
        font-family: Roboto-Regular;
        src: url("fonts/Roboto/Roboto-Regular.ttf");
    }
    @font-face {
        font-family: Roboto-Bold;
        src: url("fonts/Roboto/Roboto-Bold.ttf");
    }
    @font-face {
        font-family: Roboto-Medium;
        src: url("fonts/Roboto/Roboto-Medium.ttf");
    }
}