body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f6f5;
    font-family: Roboto-Regular;
}

.auth-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 15vh;
}

.form {
    display: flex;
    border-radius: 8px;
}
.logo{
    width: 450px;
    height: 210px;
    display: flex;
}

.login, .pass {
    display: flex;
    width: 430px;
    padding: 8px;
    text-align: center;
    font-size: 12pt;
    background-repeat: no-repeat;
    background-position: 4px;
    font-weight: bold;
    outline: none;
    padding-left: 5px;
    color: darkgreen;
    background-color: white;
    border: 2px solid darkgreen;
    padding-left: 5px;
}

.login:focus, .pass:focus {
    border: 2px solid #e0d20f;
}

.login::placeholder, .pass::placeholder {
    color: #87ad87;
}

.login {
    margin-bottom: 20px;
    background-image: url("@/assets/img/1.png");
}

.disabledStyle{
    margin-bottom: 0 !important; 
}

.pass {
    margin-bottom: 35px;
    background-image: url("@/assets/img/2.png");
}

.enter {
    display: flex;
    /*padding: 14px 16px;*/
    width: 240px;
    outline: none;
    cursor: pointer;
    font-size: 12pt;
    border: 0;
    justify-content: center;
    font-family: Roboto-Bold;
    font-weight: bold;
    margin-left:24%;
    line-height: 34px;


    height: 35px;
    border-radius:7px;
    color: #2a622a;
    background-color: #ffc945;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.close-button {
    position: fixed;
    top: 0px;
    right: 7px;
    text-decoration: none;
    color: black;
    font-size: 44px;
    font-weight: bold;
    cursor: pointer;
}

.error-message {
    background-color: #ffcccc;
    color: #cc0000;
    padding: 10px;
    border-radius: 5px;
    font-size: 13pt;
}

@font-face {
    font-family: Roboto-Regular;
    src: url("@/assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("@/assets/fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto-Medium;
    src: url("@/assets/fonts/Roboto/Roboto-Medium.ttf");
}